= effective_form_with(model: [:admin, committee_folder], engine: true, autosave: true) do |f|
  = f.file_field :files, multiple: true, label: 'Bulk upload', hint: 'Select or drag and drop multiple files to upload'
  %div{style: 'display: none;'}= f.save 'Bulk upload'
