%h2= committees_label
%p You can download files and view recent activity for your #{committees_label}.

%hr

= link_to("My #{committees_label}", effective_committees.committees_path, class: "btn btn-primary")
