%h2 Committees

- if current_user.committees.present?
  - datatable = EffectiveResources.best('EffectiveCommitteesDatatable').new(self, namespace: :effective)
  = render_datatable(datatable, simple: true)

- else
  %p You aren't assigned to any committees. When you are, we'll show them here.
