- resource = (@_effective_resource || Effective::Resource.new(controller_path))
- @resource = instance_variable_get('@' + resource.name) if resource.name

- if @resource
  .resource-buttons
    = render_resource_buttons(@resource, show: false)

  = render_resource_partial(@resource)

.my-4

-# .form-actions
-#   = link_to 'Continue', return_to_dashboard_path, class: 'btn btn-primary mb-4'
